body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.main-content {
  flex-grow: 1;
  padding: 1rem;
  overflow: auto;
  min-height: 100vh;
  background-color: var(--background-color);
  transition: background-color 0.3s ease;
}